@import url("https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap");

body {
	margin: 0;
	padding: 0;

	background-color: #121212;
	color: white;
	font-family: "Zen Kurenaido", sans-serif;
}

header {
	background-color: #1c86439c;
	height: 100vh;
	transition: 0.4s;
}

nav,
nav .holder {
	position: relative;
	overflow: hidden;
	background-color: #2e2e2e;
}

nav a {
	float: left;
	color: #d32f2f;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	transition: 0.5s;
	font-size: 25px;
	padding: 20px 16px;
}

.nav-center a {
	float: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-right {
	float: right;
}

nav a:hover {
	background-color: #ff6659;
	color: black;
}

nav .icon {
	display: none;
}

.content {
	padding: 16px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	height: 57px;
}

nav.sticky a {
	padding: 14px 16px;
	font-size: 20px;
}

.sticky + .content {
	padding-top: 60px;
}

main {
	height: 100vh;
}

/* Scrollbar Width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #d32f2f88;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #d32f2f;
}

/* Mobile Styles */
@media (max-width: 600px) {
	nav a {
		display: none;
		padding: 14px 16px;
		font-size: 20px;
	}
	nav .icon,
	.nav-center a {
		display: block;
	}

	nav.responsive a,
	.nav-right {
		float: none;
		display: block;
	}

	nav.responsive .nav-center a {
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}

	nav.responsive.reverse {
		overflow: visible;
	}
	nav.responsive.reverse .holder {
		transform: translateY(-83.333%);
	}

	/* Makes a one column layout instead of a two-column layout for footer */
	footer .left,
	footer .right {
		float: none;
		width: 100%;
	}
}
